.changepass {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9; /* Açık gri arka plan */
    border-radius: 8px; /* Köşeleri yuvarlat */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hafif gölge */
    margin-top: 2em;
}

.changepass h4 {
    margin: 0;
    font-size: 24px;
    color: #003366; /* Koyu mavi başlık rengi */
}

.changepass input[type="text"],
.changepass input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #ddd; /* Gri sınır */
    border-radius: 4px; /* Köşeleri yuvarlat */
    box-sizing: border-box; /* Padding ve border'ı toplam genişliğe dahil et */
}

.changepass button {
    background-color: #003366; /* Koyu mavi buton arka planı */
    color: white; /* Beyaz metin */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.changepass button:hover {
    background-color: #002244; /* Üzerine gelindiğinde daha koyu mavi */
}

.changepass button:disabled {
    background-color: #666; /* Disable durumda gri arka plan */
    cursor: not-allowed; /* Tıklanamaz gösterimi */
}
